* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Lora', serif;
  }
  .container {
    height: 300px;
    min-width: 260px;
    width: fit-content;
    max-width: 66.6%;
    display: flex;
    margin-top: 20%;
    margin-left: 20%;
    /*align-items: center;
    justify-content: center;*/
    flex-direction: column;
    background-color: rebeccapurple;
  }
  .weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }
  #location {
    font-size: 19px;
    font-weight: 800;
    font-family: poppins;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  .circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
  }



  .Weather_Container_Head{
    border-radius: 20px 20px 0px 0px;
    padding: 8px;
    display: flex;
    background-color: red;
    height: 45px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
  }
  #weather-icon{
    height: 52.5px;
    width: 52.5px;
  }